* {
  font-family: 'DejaVu Serif';
  --ranger-primary: #8ea53a;
  --dh-primary: #47b8e0;
  --custom-dark: rgba(37,39,37,0.8);
  --custom-dark-opaque: rgb(37,39,37);
  --bg-dark: rgba(28,30,27,0.9);
  color: white;
}

.druid-page {
  background-image: url("https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fwallpapercave.com%2Fwp%2FvU3RMgV.jpg&f=1&nofb=1");
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  background-attachment: fixed;
  min-height: 100vh;
}

span[data-armory-size="20"] {
  display: inline-block;
  transform: translate(0,-2px);
}

img {
  transform: translate(0,-1px);
}

.vertical-text {
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

.flip {
  transform: rotate(180deg);
}

.clockwise {
  transform: rotate(90deg) translate(0, -4px);
}

.gw2a--10x8O {
  display: flex;
  align-items: center;
  position: relative;
  height: 140px;
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
}

.gw2a--t1hk1 {
  position: absolute;
  background-position: bottom left;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.4;
  background-position-x: -118px;
}

.fake-button {
  cursor: pointer;
}

/* Container (Taken from Bootstrap) */

.guide-content {
  width:100%;
  padding-right:15px;
  padding-left:15px;
  margin-right:auto;
  margin-left:auto;
  background-color: var(--bg-dark);
}
@media (min-width:576px) {
  .guide-content {
    max-width:540px
  }
}
@media (min-width:768px) {
  .guide-content {
    max-width:720px
  }
}
@media (min-width:992px) {
  .guide-content {
    max-width:960px
  }
}
@media (min-width:1200px) {
  .guide-content {
    max-width:1140px
  }
}
.guide-content.ranger {
  border-top: 4px solid var(--ranger-primary);
}

/* Nav Tabs */

nav.custom-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

nav.custom-nav a {
  color: white;
  border-bottom: 1px solid #dee2e6;
  border-radius: 0;
  text-align: center;
  display: block;
  padding: .5rem 1rem;
  flex: 1 1 auto;
}

nav.custom-nav a.active {
  color: var(--ranger-primary);
  text-decoration: underline;
  background-color: var(--custom-dark);
  border: 1px solid #dee2e6;
  border-bottom: 1px transparent;
}

.custom-tab-content {
  background-color: var(--custom-dark);
  border: 1px solid #dee2e6;
  border-top: 0px solid;
  padding: 2em;
}

/* Cards */

.title-card {
  border-radius: 0;
  border: 2px solid white;
  background-color: black;
  padding: 1.5em 3em 1.5em 3em;
  margin: 3em 0 3em 0;
}
.title-card > .title {
  font-size: 1.25em;
  font-style: italic;
}
.title-card > .title > footer {
  display: block;
  font-size: 80%;
  color: #6c757d;
}

.trait-card {
  background: transparent;
  border: 0px transparent;
  margin-top: 25px;
  margin-bottom: 2em;
  position: relative;
}
.trait-card > .trait-name {
  background: transparent;
  align-items: center;
  width: 100%;
  border: 0;
  padding: 0;
  position: absolute;
  top: -21px;
  z-index: 5;
  display: flex;
  flex-direction: row;
}
.trait-card > .trait-name > .filler {
  border-top: 1px solid rgba(200, 200, 200, 0.5);
  flex-grow: 1;
}
.trait-card > .trait-name > span {
  margin-right: 1em;
}
.trait-card > .trait-description {
  margin-left: 25px;
  padding: 1.5em 1.25rem 0 1.25rem;
  border-right: 1px solid rgba(200, 200, 200, 0.5);
  position: relative;
  display: block;
  overflow: hidden;
}
.trait-card > .trait-description:after,
.trait-card > .trait-description:before {
  position: absolute;
  content: '';
  z-index: 0;
}
.trait-card > .trait-description:before {
  width: 80%;
  right: 0px;
  top: 0px;
  border: 1px solid rgba(200, 200, 200, 0.5);
  border-width: 0px 1px 0px 0px;
}
.trait-card > .trait-description:after {
  height: calc(100% - (0.5em + 21px));
  width: 100%;
  bottom: 0px;
  left: 0px;
  border: 1px solid rgba(200, 200, 200, 0.5);
  border-width: 0px 0px 1px 1px;
}

/* Sections */

.section-title {
  margin-top: 3em;
  margin-bottom: 1em;
  padding: 0.25rem 0 0.25rem 0;
  background-color: rgba(0, 0, 0, 0.8);
}
.section-title > h3 {
  margin: 0;
}
.section-title.ranger {
  border-top: 2px solid var(--ranger-primary);
  border-bottom: 2px solid var(--ranger-primary);
}
.section-title.dragonhunter {
  border-top: 2px solid var(--dh-primary);
  border-bottom: 2px solid var(--dh-primary);
}

.subsection-title {
  padding: 0.5em;
  border-left: 1px solid var(--ranger-primary);
  background-color: var(--custom-dark);
  margin-left: 1em;
}

.section-intro {
  font-style: italic;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}
@media (min-width: 992px) {
  .section-intro {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
}

/* Misc */

.centered-flex-row {
  display: flex;
  justify-content: center;
  flex-direction: row;
}